<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ciandt.dragonfly.example">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".DragonflyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${FABRIC_API_KEY}"/>

        <activity
            android:name=".features.projectselection.ProjectSelectionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.about.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".features.realtime.RealTimeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".features.feedback.FeedbackActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".features.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".data.remote.RemoteProjectService"
            android:exported="false"/>

        <service
            android:name=".features.download.DownloadHandlerService"
            android:exported="false"/>

        <receiver
            android:name=".features.download.DownloadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>